<p id="notice"><%= notice %></p>

<h1><a href="http://ruby-blog.localhost/posts/<%= @post.id %>"><%= @post.post_title %></a></h1>

<br />

<small><a href="http://gainesms.com"><%= @post.post_author %></a></small>
	
<br />

<a href="http://ruby-blog.localhost/categories/<%= "#{@post.post_category}".downcase %>"><%= @post.post_category %></a>

<br />

<small><%= @post.post_date %></small>

<br />

<p><%= @post.post_content %></p>

<%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Back', posts_path %>
